:root { 
--gray_600:#797979; 
--gray_50_01:#f9f9f9; 
--gray_600_02:#787878; 
--gray_600_01:#818181; 
--blue_700:#337ab7; 
--black_900_3f:#0000003f; 
--gray_600_03:#808080; 
--gray_50:#f8f8f8; 
--gray_100:#f5f5f5; 
--indigo_300:#5191cd; 
--indigo_800_01:#1e4190; 
--white_A700:#ffffff; 
--indigo_800:#1b3c8c; 
}